.banner-fixed {
    background: linear-gradient(rgba(14, 39, 55, 0.7), rgba(14, 39, 55, 0.7)), url('../../assets/banners/1.jpg');
    height: 300px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
